.pageHeading {
    font-family: "Crimson Text", serif;
    font-size: calc(2rem + 0.5vw);
    text-align: center;
    margin: 2% auto;
}

.searchContainer {
    margin: 2% auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    label {
        font-family: "Crimson Text", serif;
        font-size: calc(1.5rem + 0.5vw);
        color: #5e548e;
        display: block;
        margin: 1%;
    }
    input[type="text"] {
        font-family: "Karla", sans-serif;
        font-size: calc(1.2rem + 0.5vw);
        border: none;
        color: #5e548e;
        background: #e2eef3;
        border-bottom: 1px solid #9f86c0;
        padding: 0.5% 1%;
        display: inline-block;
        margin: 1%;
    }
    input[type="submit"] {
        border: none;
        background: #9f86c0;
        border-radius: 50px;
        padding: 1% 2%;
        font-size: calc(1.2rem + 0.5vw);
        font-family: "Crimson Text", serif;
        cursor: pointer;
        display: inline-block;
        margin: 1%;
        transition: all 0.3s ease-in-out;
        &:hover, &:focus{
            background: #BE95C4;
        }
    }
}

.resultSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    .coName{
        font-family: "Crimson Text", serif;
        font-size: calc(1.5rem + 0.5vw);
        font-weight: 700;
        color: #5E548E;
    }
    .newHeading, .totalHeading{
        font-family: "Crimson Text", serif;
        font-size: calc(1.5rem + 0.5vw);
        font-weight: 700;
        color: #5E548E;
        text-transform: capitalize;
        margin-top: 3%;
    }
    li{
        font-family: 'Karla', sans-serif;
        font-size: calc(1.5rem + 0.5vw);
        color: #5E548E;
    }
}
